a {
    text-decoration: none;
}

.body_login{
    height: 100vh;
}

.caixa_login{
    box-shadow: 10px 10px 10px  rgb(29, 29, 29);    
}

/* SPLASH */
.splash{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 56); 
    height: 100vh;  
    overflow: hidden; /* desabilita a barra de rolagem*/
}

.container_logo_splash {
    height: 50%;
    background-image: url("../img/logo_farmaShop_vertical.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;    
    width: 50%;  
    position: relative;  
}

.logo_splash{
    height: 80%;
    background-color: white;
}

.loader {
    position: absolute;
    top: 60vh;
    width: 50px;
    aspect-ratio: 1;
    --_c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
    background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
    background-size: 12px 12px;
    animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}

/* CATALOGO */
.header_catalogo{
    background-color: rgb(0, 0, 56); 
    height: 4em;
    width: 100%;
}

.icones_nav{    
    display: flex;    
}

@media (min-width: 992px) {
    .navbar{
        padding-top: 1em;
        width: 75%;
    }

    .icones_nav{
        padding: 0px 0.2em;
        justify-content: space-between;        
    }

    .icon{
        padding: 0px 0.3em;
    }

    .barra_pesquisa{
        width: 50%;
    }
}

@media (max-width: 991px){
    .navbar{
        width: 100%;
        padding-top: 0;
    }

    .icon{
        padding: 0.3em 0px;
    }

    .barra_pesquisa{
        width: 75%;
    }
}

.logo_nav{
    height: 40px;
    margin: 0.5em;
}

.icon{
    font-size: 30px;
    color: white;
}

.icon:hover{
    color: #25b09b;
}